[?2004h[?1049h[1;37r(B[m[4l[?7h[39;49m[?1h[?1h[?25l[39;49m(B[m[H[2J[35;20H(B[0;1m[37m[41m[ "node_modules" is a directory ][39;49m(B[m[H(B[0;7m  GNU nano 8.1                  New Buffer                             [1;70H(B[m[36d(B[0;7m^G(B[m Help[15G(B[0;7m^O(B[m Write Out  (B[0;7m^F(B[m Where Is   (B[0;7m^K(B[m Cut[36;57H(B[0;7m^T(B[m Execute[37d(B[0;7m^X(B[m Exit[15G(B[0;7m^R(B[m Read File  (B[0;7m^\(B[m Replace    (B[0;7m^U(B[m Paste[57G(B[0;7m^J(B[m Justify[2d[?12h[?25h[?25l[35;9H(B[0;7m[ line  1/1 (100%), col  1/ 1 (100%), char  0/0 ( 0%) ](B[m[?12h[?25h[2d[?25l[35;64H[?12h[?25h[2d[?25l[35;64H[?12h[?25h[2d[37;1H[?1049l[?1l[?2004l